<settings>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="enable.slimlist" type="bool">true</setting>
    <setting id="arcadetvshowsmini" type="bool">false</setting>
    <setting id="tvshows_900_hidestars" type="bool">false</setting>
    <setting id="enable.externalmoviegenreicons" type="bool">false</setting>
    <setting id="enable.smartish.widgets" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="movies_900_landscape" type="bool">false</setting>
    <setting id="tvshows_900_landscape" type="bool">false</setting>
    <setting id="movies_900_hidestars" type="bool">false</setting>
    <setting id="disable.nextaired" type="bool">true</setting>
    <setting id="games_902_hidelabels" type="bool">false</setting>
    <setting id="disable.thumbnailview" type="bool">false</setting>
    <setting id="arcadeepisodesbiginfo" type="bool">false</setting>
    <setting id="disable.mainquicknav" type="bool">false</setting>
    <setting id="skinhelper.enableextendedart" type="bool">false</setting>
    <setting id="disable.lowpanelview" type="bool">false</setting>
    <setting id="hidetopbarweather" type="bool">false</setting>
    <setting id="episodes_902_hidelabels" type="bool">false</setting>
    <setting id="saunadouble" type="bool">false</setting>
    <setting id="games_902_hidereflections" type="bool">false</setting>
    <setting id="enable.actorlocalimages" type="bool">false</setting>
    <setting id="episodes_900_hidestudioflags" type="bool">false</setting>
    <setting id="blurplayericon" type="bool">false</setting>
    <setting id="skinshortcuts-background-C:\Users\Admin\AppData\Roaming\Kodi\userdata\Mozzy616-Hell-Radio! Stream For Kodi\Mozzy616-ell-radio-logo.png" type="bool">true</setting>
    <setting id="arcade.games.hidestars" type="bool">false</setting>
    <setting id="movies_902_hidelabels" type="bool">false</setting>
    <setting id="enable.unwatchedoverlay" type="bool">false</setting>
    <setting id="saunavertical" type="bool">false</setting>
    <setting id="skinshortcuts-widget-favorites" type="bool">true</setting>
    <setting id="games_902_staticicons" type="bool">false</setting>
    <setting id="arcadetitles" type="bool">false</setting>
    <setting id="movies_902_staticicons" type="bool">false</setting>
    <setting id="disable.shiftview" type="bool">false</setting>
    <setting id="weather.zoom.detailed" type="bool">false</setting>
    <setting id="arcade.games.reversed" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recentchannels" type="bool">true</setting>
    <setting id="enable.touchscreen" type="bool">false</setting>
    <setting id="tmdbhelper.disableratings" type="bool">false</setting>
    <setting id="saunatitles" type="bool">false</setting>
    <setting id="tmdbhelper.disableextendedproperties" type="bool">false</setting>
    <setting id="coverflowgamesbasic" type="bool">false</setting>
    <setting id="enable.settingspanelview" type="bool">false</setting>
    <setting id="disable.autoscroll" type="bool">false</setting>
    <setting id="disable.showbackgroundvis" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://home/userdata\Mozzy616-Hell-Radio! Stream For Kodi\Mozzy616-ell-radio-logo.png" type="bool">true</setting>
    <setting id="disable.episodeview" type="bool">false</setting>
    <setting id="arcade.games.biginfo" type="bool">false</setting>
    <setting id="enable.basicweatherview" type="bool">false</setting>
    <setting id="topbarhidebackground" type="bool">false</setting>
    <setting id="arcade.games.cirrus" type="bool">false</setting>
    <setting id="episodes_900_hidelabels" type="bool">false</setting>
    <setting id="arcadeepisodesmini" type="bool">false</setting>
    <setting id="use_startup_playlist" type="bool">true</setting>
    <setting id="enable.vizpersistent" type="bool">false</setting>
    <setting id="pictureinfo.disabled" type="bool">false</setting>
    <setting id="tmdbhelper.enableblur" type="bool">false</setting>
    <setting id="skinshortcuts-widget-favgames" type="bool">true</setting>
    <setting id="weather.zoom.alert" type="bool">false</setting>
    <setting id="keibertzplustitles" type="bool">false</setting>
    <setting id="enable.horizontalmenu" type="bool">true</setting>
    <setting id="arcadetvshowsreversed" type="bool">false</setting>
    <setting id="enable.actorroleimages" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recentlyaddedmusicvideos" type="bool">true</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="skinhelper.enabledaynightthemes" type="bool">false</setting>
    <setting id="arcademoviesbiginfo" type="bool">false</setting>
    <setting id="enable.highlightfocused" type="bool">false</setting>
    <setting id="enable.shiftplot" type="bool">false</setting>
    <setting id="skinshortcuts-widget-settings" type="bool">true</setting>
    <setting id="skinshortcuts-widget-recentalbums" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://home\userdata\Mozzy616-Hell-Radio! Stream For Kodi\Mozzy616-ell-radio-logo.png" type="bool">true</setting>
    <setting id="episodes_900_hidestars" type="bool">false</setting>
    <setting id="tmdbhelper.service" type="bool">false</setting>
    <setting id="enablecontext:script.artwork.dump" type="bool">false</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://home\userdata\Mozzy616-Hell-Radio! Stream For Kodi\Mozzy616-ell-radio-logo.png" type="bool">true</setting>
    <setting id="disable.songview" type="bool">false</setting>
    <setting id="arcade.games.adaptive" type="bool">false</setting>
    <setting id="enable.2columnlist" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="blurenabled" type="bool">false</setting>
    <setting id="skinshortcuts-widget-myplaylists" type="bool">false</setting>
    <setting id="enable.widelist" type="bool">false</setting>
    <setting id="arcadetvshowsbiginfo" type="bool">false</setting>
    <setting id="disable.biglistview" type="bool">false</setting>
    <setting id="enable.mediaflags" type="bool">true</setting>
    <setting id="tvshows_902_hidelabels" type="bool">false</setting>
    <setting id="tvshows_902_landscape" type="bool">false</setting>
    <setting id="disable.fanart" type="bool">false</setting>
    <setting id="enable.remoteweathericons" type="bool">false</setting>
    <setting id="skin.toggledebug" type="bool">false</setting>
    <setting id="weatherfanart.multi" type="bool">true</setting>
    <setting id="videoinfoplottoggle" type="bool">false</setting>
    <setting id="arcademoviesmini" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="enable.shiftdescription" type="bool">false</setting>
    <setting id="arcadeepisodesreversed" type="bool">false</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">false</setting>
    <setting id="movies_902_hidereflections" type="bool">false</setting>
    <setting id="sauna2ndvideo" type="bool">false</setting>
    <setting id="skinhelper.enableextraposter" type="bool">false</setting>
    <setting id="disable.iconview" type="bool">false</setting>
    <setting id="sauna2ndtitles" type="bool">false</setting>
    <setting id="saunaboxshot" type="bool">false</setting>
    <setting id="disable.wallview" type="bool">false</setting>
    <setting id="arcade.games.mini" type="bool">false</setting>
    <setting id="enable.externaltvgenreicons" type="bool">false</setting>
    <setting id="bigasslabel" type="bool">false</setting>
    <setting id="skinhelper.enablemusicart" type="bool">false</setting>
    <setting id="tvshows_902_hidereflections" type="bool">false</setting>
    <setting id="skinshortcuts-widget-weather" type="bool">true</setting>
    <setting id="disable.galleryview" type="bool">false</setting>
    <setting id="tmdbhelper.uselocalwidgetcontainer" type="bool">false</setting>
    <setting id="tmdbhelper.disableartwork" type="bool">false</setting>
    <setting id="disable.infowallview" type="bool">false</setting>
    <setting id="disable.quicknav" type="bool">false</setting>
    <setting id="clearplaylist" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recentlyaddedmovies" type="bool">true</setting>
    <setting id="arcadegamesmini" type="bool">false</setting>
    <setting id="arcademoviesreversed" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">false</setting>
    <setting id="kioskmode.enabled" type="bool">false</setting>
    <setting id="episodes_902_hidereflections" type="bool">false</setting>
    <setting id="saunasnaps" type="bool">false</setting>
    <setting id="movies_902_landscape" type="bool">false</setting>
    <setting id="arcade.trailers" type="bool">false</setting>
    <setting id="tvshows_902_staticicons" type="bool">false</setting>
    <setting id="saunatrailers" type="bool">false</setting>
    <setting id="coverflowmoviesbasic" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Addon" type="bool">true</setting>
    <setting id="sauna2ndsnaps" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="movies_900_hidestudioflags" type="bool">false</setting>
    <setting id="disable.fanartview" type="bool">false</setting>
    <setting id="enable.externalmusicgenreicons" type="bool">false</setting>
    <setting id="keibertzplussnaps" type="bool">false</setting>
    <setting id="disable.animatefanart" type="bool">true</setting>
    <setting id="disable.autocomplete" type="bool">false</setting>
    <setting id="disable.showbackgroundvideo" type="bool">false</setting>
    <setting id="arcadesnaps" type="bool">false</setting>
    <setting id="tvshows_900_hidestudioflags" type="bool">false</setting>
    <setting id="disable.lowlistview" type="bool">false</setting>
    <setting id="disable.watchedoverlay" type="bool">false</setting>
    <setting id="arcade.games.hidestudioflags" type="bool">false</setting>
    <setting id="saunadisablezoom" type="bool">false</setting>
    <setting id="enable.combinemenus" type="bool">false</setting>
    <setting id="enable.vizinfo" type="bool">false</setting>
    <setting id="disable.resumableoverlay" type="bool">false</setting>
    <setting id="disable.panelview" type="bool">false</setting>
    <setting id="enable.zoomradar" type="bool">true</setting>
    <setting id="skinshortcuts-widget-nextepisodes" type="bool">true</setting>
    <setting id="hidevisualizationfanart" type="bool">true</setting>
    <setting id="coverflowtvshowsbasic" type="bool">false</setting>
    <setting id="disable.animations" type="bool">false</setting>
    <setting id="hide_background_fanart" type="bool">false</setting>
    <setting id="skinshortcuts-widget-videoaddons" type="bool">true</setting>
    <setting id="LowList.videos.Art1" type="string"></setting>
    <setting id="Sauna.episodes.Art1" type="string"></setting>
    <setting id="InfoWall.songs.Art1" type="string"></setting>
    <setting id="Coverflow.artists.Art1" type="string"></setting>
    <setting id="Episode.songs.Art1" type="string"></setting>
    <setting id="skinshortcuts-widget-10" type="string">favorites</setting>
    <setting id="Panel.movies.Art1" type="string"></setting>
    <setting id="Gallery.albums.Art1" type="string"></setting>
    <setting id="Episode.episodes.Art1" type="string"></setting>
    <setting id="KeibertzPlus.s.Art1" type="string"></setting>
    <setting id="BigWall.artists.Art1" type="string"></setting>
    <setting id="List.seasons.Art1" type="string"></setting>
    <setting id="Coverflow.tvshows.Art1" type="string"></setting>
    <setting id="Shift.albums.Art1" type="string"></setting>
    <setting id="MusicVideos.Fallback" type="string"></setting>
    <setting id="Shift.songs.Art1" type="string"></setting>
    <setting id="Wall.tvshows.Art1" type="string"></setting>
    <setting id="Arcade.actors.Art1" type="string"></setting>
    <setting id="List.video.Art2" type="string"></setting>
    <setting id="Wall.movies.Art1" type="string"></setting>
    <setting id="BigWall.albums.Art1" type="string"></setting>
    <setting id="Sauna.songs.Art1" type="string"></setting>
    <setting id="KeibertzPlus.actors.Art1" type="string"></setting>
    <setting id="Wall.artists.Art1" type="string"></setting>
    <setting id="InfoWall.videos.Art1" type="string"></setting>
    <setting id="customtvgenreicons.path" type="string"></setting>
    <setting id="System.Fallback" type="string"></setting>
    <setting id="BigList.movies.Art1" type="string"></setting>
    <setting id="LiveTV.Fallback" type="string"></setting>
    <setting id="Panel.artists.Art1" type="string"></setting>
    <setting id="Coverflow.seasons.Art1" type="string"></setting>
    <setting id="Shift.games.Art1" type="string"></setting>
    <setting id="ServiceInterval" type="string"></setting>
    <setting id="BigList.videos.Art1" type="string"></setting>
    <setting id="Episode.videos.Art1" type="string"></setting>
    <setting id="weatherfanart.name" type="string">Weather Fanart - Multi</setting>
    <setting id="Episode.musicvideos.Art1" type="string"></setting>
    <setting id="Fanart.files.Art1" type="string"></setting>
    <setting id="Fanart.videos.Art1" type="string"></setting>
    <setting id="LowPanel.musicvideos.Art1" type="string"></setting>
    <setting id="BigWall.movies.Art1" type="string"></setting>
    <setting id="Arcade.episodes.Art" type="string"></setting>
    <setting id="TVGenreIcons.name" type="string"></setting>
    <setting id="musicvis.background" type="string">none</setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
    <setting id="InfoWall.movies.Art1" type="string"></setting>
    <setting id="Arcade.songs.Art1" type="string"></setting>
    <setting id="Panel.s.Art1" type="string"></setting>
    <setting id="BigList.seasons.Art1" type="string"></setting>
    <setting id="SongList.seasons.Art1" type="string"></setting>
    <setting id="Coverflow.musicvideos.Art1" type="string"></setting>
    <setting id="BigList.tvshows.Art1" type="string"></setting>
    <setting id="InfoWall.s.Art1" type="string"></setting>
    <setting id="SongList.sets.Art1" type="string"></setting>
    <setting id="Sauna.movies.Art1" type="string"></setting>
    <setting id="TMDbHelper.Blur.Size" type="string"></setting>
    <setting id="Episode.files.Art1" type="string"></setting>
    <setting id="Episode.actors.Art1" type="string"></setting>
    <setting id="List.tvshows.Art1" type="string"></setting>
    <setting id="Sauna.games.Art1" type="string"></setting>
    <setting id="Arcade.files.Art1" type="string"></setting>
    <setting id="Sauna.artists.Art1" type="string"></setting>
    <setting id="LowList.songs.Art1" type="string"></setting>
    <setting id="KeibertzPlus.albums.Art1" type="string"></setting>
    <setting id="LowPanel.actors.Art1" type="string"></setting>
    <setting id="KeibertzPlus.movies.Art1" type="string"></setting>
    <setting id="Thumbnail.games.Art1" type="string"></setting>
    <setting id="BlurRadius" type="string"></setting>
    <setting id="Shift.files.Art1" type="string"></setting>
    <setting id="LowList.tvshows.Art1" type="string"></setting>
    <setting id="Coverflow.games.Art1" type="string"></setting>
    <setting id="Pictures.Fallback" type="string"></setting>
    <setting id="LowPanel.artists.Art1" type="string"></setting>
    <setting id="Gallery.games.Art1" type="string"></setting>
    <setting id="TMDbHelper.Blur.Radius" type="string"></setting>
    <setting id="focuscolor.name" type="string"></setting>
    <setting id="BigWall.actors.Art1" type="string"></setting>
    <setting id="MusicGenreIcons.ext" type="string"></setting>
    <setting id="custombackground" type="string">special://home\userdata\Mozzy616-Hell-Radio! Stream For Kodi\default_bg.png</setting>
    <setting id="BigList.musicvideos.Art1" type="string"></setting>
    <setting id="Thumbnail.files.Art1" type="string"></setting>
    <setting id="customoverlay" type="string">special://skin/overlays/black-50.png</setting>
    <setting id="Wall.albums.Art1" type="string"></setting>
    <setting id="Shift.videos.Art1" type="string"></setting>
    <setting id="Panel.actors.Art1" type="string"></setting>
    <setting id="List.games.Art1" type="string"></setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="InfoWall.artists.Art1" type="string"></setting>
    <setting id="List.artist.Art2" type="string"></setting>
    <setting id="SongList.musicvideos.Art1" type="string"></setting>
    <setting id="Thumbnail.actors.Art1" type="string"></setting>
    <setting id="BigWall.videos.Art1" type="string"></setting>
    <setting id="Gallery.musicvideos.Art1" type="string"></setting>
    <setting id="LowList.albums.Art1" type="string"></setting>
    <setting id="InfoWall.musicvideos.Art1" type="string"></setting>
    <setting id="Thumbnail.musicvideos.Art1" type="string"></setting>
    <setting id="skinshortcuts-widget-7" type="string">Addon</setting>
    <setting id="skinshortcuts-widget-8" type="string">Addon</setting>
    <setting id="busyloader" type="string">special://skin/extras/spinners/Sun.png</setting>
    <setting id="Wall.s.Art1" type="string"></setting>
    <setting id="KeibertzPlus.tvshows.Art1" type="string"></setting>
    <setting id="weathericons.ext" type="string"></setting>
    <setting id="musicgenreicons.path" type="string"></setting>
    <setting id="Coverflow.movies.Art1" type="string"></setting>
    <setting id="Thumbnail.artists.Art1" type="string"></setting>
    <setting id="VisBackgroundMask" type="string">88FFFFFF</setting>
    <setting id="LowList.episodes.Art1" type="string"></setting>
    <setting id="List..Art2" type="string">thumb</setting>
    <setting id="InfoWall.musicvideo.Art2" type="string"></setting>
    <setting id="Wall.episodes.Art1" type="string"></setting>
    <setting id="Sauna.sets.Art1" type="string"></setting>
    <setting id="Thumbnail.albums.Art1" type="string"></setting>
    <setting id="List.sets.Art1" type="string"></setting>
    <setting id="BigList.games.Art1" type="string"></setting>
    <setting id="CustomActorRoleImages.path" type="string"></setting>
    <setting id="Arcade.artists.Art1" type="string"></setting>
    <setting id="KeibertzPlus.games.Art1" type="string"></setting>
    <setting id="Gallery.actors.Art1" type="string"></setting>
    <setting id="List.albums.Art1" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">Addon</setting>
    <setting id="custommoviegenreicons.path" type="string"></setting>
    <setting id="Gallery.movies.Art1" type="string"></setting>
    <setting id="TMDbHelper.Corner.Radius" type="string"></setting>
    <setting id="Fanart.tvshows.Art1" type="string"></setting>
    <setting id="Thumbnail.videos.Art1" type="string"></setting>
    <setting id="InfoWall.actor.Art2" type="string"></setting>
    <setting id="LowList.games.Art1" type="string"></setting>
    <setting id="TVShows.Fallback" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="Panel.episodes.Art1" type="string"></setting>
    <setting id="LowPanel.sets.Art1" type="string"></setting>
    <setting id="LowList.musicvideos.Art1" type="string"></setting>
    <setting id="skinhelper.colortheme.day.time" type="string"></setting>
    <setting id="InfoWall.set.Art2" type="string"></setting>
    <setting id="LowList.s.Art1" type="string"></setting>
    <setting id="InfoWall.albums.Art1" type="string"></setting>
    <setting id="List.musicvideos.Art1" type="string"></setting>
    <setting id="Videos.Fallback" type="string"></setting>
    <setting id="Arcade.albums.Art1" type="string"></setting>
    <setting id="SongList.episodes.Art1" type="string"></setting>
    <setting id="Gallery.artists.Art1" type="string"></setting>
    <setting id="Panel.seasons.Art1" type="string"></setting>
    <setting id="Fanart.seasons.Art1" type="string"></setting>
    <setting id="BigList.episodes.Art1" type="string"></setting>
    <setting id="Arcade.games.Art1" type="string"></setting>
    <setting id="KeibertzPlus.songs.Art1" type="string"></setting>
    <setting id="BigList.albums.Art1" type="string"></setting>
    <setting id="KeibertzPlus.artists.Art1" type="string"></setting>
    <setting id="Episode.artists.Art1" type="string"></setting>
    <setting id="LowPanel.files.Art1" type="string"></setting>
    <setting id="BigWall.seasons.Art1" type="string"></setting>
    <setting id="Sauna.files.Art1" type="string"></setting>
    <setting id="Thumbnail.s.Art1" type="string"></setting>
    <setting id="KeibertzPlus.videos.Art1" type="string"></setting>
    <setting id="Sauna.actors.Art1" type="string"></setting>
    <setting id="BigWall.musicvideos.Art1" type="string"></setting>
    <setting id="Fanart.musicvideos.Art1" type="string"></setting>
    <setting id="Shift.actors.Art1" type="string"></setting>
    <setting id="KeibertzPlus.files.Art1" type="string"></setting>
    <setting id="Fanart.games.Art1" type="string"></setting>
    <setting id="Wall.musicvideos.Art1" type="string"></setting>
    <setting id="InfoWall.seasons.Art1" type="string"></setting>
    <setting id="Shift.artists.Art1" type="string"></setting>
    <setting id="Sauna.albums.Art1" type="string"></setting>
    <setting id="Coverflow.s.Art1" type="string"></setting>
    <setting id="List.s.Art1" type="string"></setting>
    <setting id="SongList.files.Art1" type="string"></setting>
    <setting id="SongList.videos.Art1" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">recentchannels</setting>
    <setting id="Episode.sets.Art1" type="string"></setting>
    <setting id="BigWall.tvshows.Art1" type="string"></setting>
    <setting id="SongList.songs.Art1" type="string"></setting>
    <setting id="InfoWall.tvshows.Art1" type="string"></setting>
    <setting id="Wall.songs.Art1" type="string"></setting>
    <setting id="Arcade.musicvideos.Art1" type="string"></setting>
    <setting id="Gallery.s.Art1" type="string"></setting>
    <setting id="MusicGenreIcons.name" type="string"></setting>
    <setting id="weatherfanart.path" type="string">resource://resource.images.weatherfanart.multi/</setting>
    <setting id="List.movies.Art1" type="string"></setting>
    <setting id="TVGenreIcons.ext" type="string"></setting>
    <setting id="List.set.Art2" type="string"></setting>
    <setting id="BigWall.games.Art1" type="string"></setting>
    <setting id="List.artists.Art1" type="string"></setting>
    <setting id="Movies.Fallback" type="string"></setting>
    <setting id="Thumbnail.seasons.Art1" type="string"></setting>
    <setting id="Shift.movies.Art1" type="string"></setting>
    <setting id="Shift.episodes.Art1" type="string"></setting>
    <setting id="Panel.albums.Art1" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="LowPanel.seasons.Art1" type="string"></setting>
    <setting id="InfoWall.episodes.Art1" type="string"></setting>
    <setting id="InfoWall.actors.Art1" type="string"></setting>
    <setting id="InfoWall.sets.Art1" type="string"></setting>
    <setting id="Gallery.seasons.Art1" type="string"></setting>
    <setting id="LowList.sets.Art1" type="string"></setting>
    <setting id="InfoWall.artist.Art2" type="string"></setting>
    <setting id="List.tvshow.Art2" type="string"></setting>
    <setting id="LowPanel.s.Art1" type="string"></setting>
    <setting id="Sauna.s.Art1" type="string"></setting>
    <setting id="List.actor.Art2" type="string"></setting>
    <setting id="KeibertzPlus.sets.Art1" type="string"></setting>
    <setting id="skinshortcuts-widget-12" type="string">settings</setting>
    <setting id="LowPanel.videos.Art1" type="string"></setting>
    <setting id="tvgenreicons.path" type="string"></setting>
    <setting id="List.videos.Art1" type="string"></setting>
    <setting id="InfoWall.files.Art1" type="string"></setting>
    <setting id="InfoWall.movie.Art2" type="string"></setting>
    <setting id="Coverflow.sets.Art1" type="string"></setting>
    <setting id="LowList.files.Art1" type="string"></setting>
    <setting id="Episode.movies.Art1" type="string"></setting>
    <setting id="Gallery.tvshows.Art1" type="string"></setting>
    <setting id="BigList.artists.Art1" type="string"></setting>
    <setting id="Music.Fallback" type="string"></setting>
    <setting id="Shift.seasons.Art1" type="string"></setting>
    <setting id="Fanart.s.Art1" type="string"></setting>
    <setting id="InfoWall.song.Art2" type="string"></setting>
    <setting id="custommusicgenreicons.path" type="string"></setting>
    <setting id="SongList.tvshows.Art1" type="string"></setting>
    <setting id="Coverflow.videos.Art1" type="string"></setting>
    <setting id="skinshortcuts-widget-9" type="string">videoaddons</setting>
    <setting id="BigWall.songs.Art1" type="string"></setting>
    <setting id="LowList.actors.Art1" type="string"></setting>
    <setting id="Fanart.sets.Art1" type="string"></setting>
    <setting id="Coverflow.songs.Art1" type="string"></setting>
    <setting id="LowPanel.albums.Art1" type="string"></setting>
    <setting id="Panel.songs.Art1" type="string"></setting>
    <setting id="Arcade.tvshows.Art1" type="string"></setting>
    <setting id="KeibertzPlus.seasons.Art1" type="string"></setting>
    <setting id="BigList.s.Art1" type="string"></setting>
    <setting id="Gallery.songs.Art1" type="string"></setting>
    <setting id="Shift.s.Art1" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="Startup_Playlist_Path" type="string">special://home/userdata/playlists/music/Menulade Hits.m3u</setting>
    <setting id="Thumbnail.songs.Art1" type="string"></setting>
    <setting id="InfoWall.season.Art2" type="string"></setting>
    <setting id="BigList.actors.Art1" type="string"></setting>
    <setting id="List.episode.Art2" type="string"></setting>
    <setting id="Shift.tvshows.Art1" type="string"></setting>
    <setting id="SongList.s.Art1" type="string"></setting>
    <setting id="InfoWall.games.Art1" type="string"></setting>
    <setting id="Thumbnail.episodes.Art1" type="string"></setting>
    <setting id="BigList.sets.Art1" type="string"></setting>
    <setting id="LowPanel.episodes.Art1" type="string"></setting>
    <setting id="BlurSaturation" type="string"></setting>
    <setting id="Shift.sets.Art1" type="string"></setting>
    <setting id="Episode.albums.Art1" type="string"></setting>
    <setting id="Apps.Fallback" type="string"></setting>
    <setting id="Gallery.videos.Art1" type="string"></setting>
    <setting id="KeibertzPlus.musicvideos.Art1" type="string"></setting>
    <setting id="Gallery.sets.Art1" type="string"></setting>
    <setting id="Fanart.artists.Art1" type="string"></setting>
    <setting id="Wall.files.Art1" type="string"></setting>
    <setting id="skinshortcuts-widget-11" type="string">weather</setting>
    <setting id="MovieGenreIcons.name" type="string"></setting>
    <setting id="Fanart.actors.Art1" type="string"></setting>
    <setting id="Fanart.episodes.Art1" type="string"></setting>
    <setting id="Weather.Fallback" type="string"></setting>
    <setting id="Panel.musicvideos.Art1" type="string"></setting>
    <setting id="BigWall.episodes.Art1" type="string"></setting>
    <setting id="Panel.files.Art1" type="string"></setting>
    <setting id="BigWall.files.Art1" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">Addon</setting>
    <setting id="Episode.tvshows.Art1" type="string"></setting>
    <setting id="SongList.actors.Art1" type="string"></setting>
    <setting id="Background_Slideshow_Custom_Path" type="string"></setting>
    <setting id="Coverflow.albums.Art1" type="string"></setting>
    <setting id="BlurContainer" type="string"></setting>
    <setting id="InfoWall.tvshow.Art2" type="string"></setting>
    <setting id="BigList.songs.Art1" type="string"></setting>
    <setting id="Sauna.musicvideos.Art1" type="string"></setting>
    <setting id="skinshortcuts-widget-3" type="string">Addon</setting>
    <setting id="Panel.sets.Art1" type="string"></setting>
    <setting id="Sauna.seasons.Art1" type="string"></setting>
    <setting id="BackgroundInterval" type="string"></setting>
    <setting id="Episode.games.Art1" type="string"></setting>
    <setting id="Gallery.episodes.Art1" type="string"></setting>
    <setting id="Wall.actors.Art1" type="string"></setting>
    <setting id="Thumbnail.tvshows.Art1" type="string"></setting>
    <setting id="Background_Interval" type="string"></setting>
    <setting id="musicvis.background_aspect" type="string"></setting>
    <setting id="Panel.videos.Art1" type="string"></setting>
    <setting id="Wall.seasons.Art1" type="string"></setting>
    <setting id="Shift.musicvideos.Art1" type="string"></setting>
    <setting id="List.episodes.Art1" type="string"></setting>
    <setting id="List.files.Art1" type="string"></setting>
    <setting id="KeibertzPlus.episodes.Art1" type="string"></setting>
    <setting id="Coverflow.actors.Art1" type="string"></setting>
    <setting id="List.song.Art2" type="string"></setting>
    <setting id="SongList.artists.Art1" type="string"></setting>
    <setting id="SongList.movies.Art1" type="string"></setting>
    <setting id="InfoWall.video.Art2" type="string"></setting>
    <setting id="Fanart.movies.Art1" type="string"></setting>
    <setting id="Panel.games.Art1" type="string"></setting>
    <setting id="Wall.sets.Art1" type="string"></setting>
    <setting id="Gallery.files.Art1" type="string"></setting>
    <setting id="MovieGenreIcons.ext" type="string"></setting>
    <setting id="musicvis.view" type="string">StandardView</setting>
    <setting id="InfoWall..Art2" type="string"></setting>
    <setting id="LowList.seasons.Art1" type="string"></setting>
    <setting id="List.actors.Art1" type="string"></setting>
    <setting id="SongList.albums.Art1" type="string"></setting>
    <setting id="List.musicvideo.Art2" type="string"></setting>
    <setting id="moviegenreicons.path" type="string"></setting>
    <setting id="weathericons.path" type="string"></setting>
    <setting id="Fanart.songs.Art1" type="string"></setting>
    <setting id="SongList.games.Art1" type="string"></setting>
    <setting id="Coverflow.files.Art1" type="string"></setting>
    <setting id="Episode.seasons.Art1" type="string"></setting>
    <setting id="Episode.s.Art1" type="string"></setting>
    <setting id="List.season.Art2" type="string"></setting>
    <setting id="skinshortcuts-widget-2" type="string">favgames</setting>
    <setting id="Wall.games.Art1" type="string"></setting>
    <setting id="Arcade.s.Art1" type="string"></setting>
    <setting id="InfoWall.album.Art2" type="string"></setting>
    <setting id="Sauna.tvshows.Art1" type="string"></setting>
    <setting id="List.movie.Art2" type="string">thumb</setting>
    <setting id="LowPanel.tvshows.Art1" type="string"></setting>
    <setting id="LowList.artists.Art1" type="string"></setting>
    <setting id="InfoWall.episode.Art2" type="string"></setting>
    <setting id="skinshortcuts-widget-14" type="string">settings</setting>
    <setting id="BigList.files.Art1" type="string"></setting>
    <setting id="Sauna.videos.Art1" type="string"></setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
    <setting id="Panel.tvshows.Art1" type="string"></setting>
    <setting id="Wall.videos.Art1" type="string"></setting>
    <setting id="BigWall.s.Art1" type="string"></setting>
    <setting id="List.songs.Art1" type="string"></setting>
    <setting id="skinshortcuts-widget-13" type="string">settings</setting>
    <setting id="BigWall.sets.Art1" type="string"></setting>
    <setting id="Arcade.videos.Art1" type="string"></setting>
    <setting id="LowPanel.movies.Art1" type="string"></setting>
    <setting id="List.album.Art2" type="string"></setting>
    <setting id="skinhelper.colortheme.night.time" type="string"></setting>
    <setting id="ArtSelector" type="string">Art1</setting>
    <setting id="Arcade.sets.Art1" type="string"></setting>
    <setting id="Arcade.seasons.Art1" type="string"></setting>
    <setting id="LowList.movies.Art1" type="string"></setting>
    <setting id="Thumbnail.sets.Art1" type="string"></setting>
    <setting id="Coverflow.episodes.Art1" type="string"></setting>
    <setting id="Arcade.movies.Art1" type="string"></setting>
    <setting id="LowPanel.songs.Art1" type="string"></setting>
    <setting id="LowPanel.games.Art1" type="string"></setting>
    <setting id="Thumbnail.movies.Art1" type="string"></setting>
    <setting id="customhomeslideshow" type="string"></setting>
    <setting id="Fanart.albums.Art1" type="string"></setting>
    <setting id="skinshortcuts-widget-6" type="string">Addon</setting>
</settings>
